* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
  font-family: "Tenali Ramakrishna", sans-serif;
  margin: 0;
  padding: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

.container {

}

/* Navbar */

.navbar-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
}

.navbar {
  border: 0;
  width: 100%;
  background-color: #9b3e36;
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar-brand {
  font-size: 1.7rem;
  text-shadow: -1px -1px 0 #000;
}

.navbar-text {
  color: #ddd !important;
  font-size: 1.2rem;
  text-shadow: 1px 1px 0 #000;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.4rem;
  text-shadow: -1px -1px 0 #000;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
  opacity: 0.7;
  text-shadow: -1px -1px 0 #333;
}

.active {
  font-size: 1.75rem;
  border-bottom: 2px solid #fff;
}

/* Callout */

.callout-container {
  height: 90vh;
  background: url(../images/hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 60px;
  border-bottom: 2px solid #9b3e36;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

/* Jumbotron */

.jumbotron {
    background: transparent;
}

.jumbotron-text {
    color: #fff;
    font-family: inherit;
    text-align: center;
}

.jumbo-h1 {
    font-size: 4rem;
}

.jumbo-p {
    font-size: 2.5rem;
}

/* Customer Reviews */

.content-container {
    font-family: "Montserrat" sans-serif;
    margin-top: 30px;
    text-align: center;
    text-transform: uppercase
}

.carousel-container {
    text-align: center;
}

.review-image {
  border-radius: 100%;
  margin: 20px;
  padding: 20% auto;
  width: 20%;
  max-height: 20%;
  min-height: 20%;
}

.carousel-item {
  padding: 5% 12%;
}

.carousel-item em {
  font-size: 1.3rem;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

/* Content Containers */

/* Block Dividers */

.block-divider {
  width: 15rem;
  height: 5px;
  border: 0;
  background-color: #9b3e36;
  margin: 0 auto;
  margin-bottom: 10px;
}

.block-divider--small {
  width: 10rem;
  height: 5px;
  border: 0;
  background-color: #9b3e36;
  margin: 0 auto;
  margin-bottom: 10px;
}

/* Footer */
footer {
  background-color: #9b3e36;
  color: #fff;
  margin-top: auto;
  text-align: center;
}


.social i {
  color: #fff;
  background-color: #9b3e36;
  margin-right: 10px;
  font-size: 1.25rem;
  padding 2%;
}

.social i:hover {
  transform: scale(1.2);
}

/* About Page */

.image-container {
  height: 100vh;
  background: url(../images/about.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 2px solid #9b3e36;
}

/* Shop Page*/

.gallery-img-container {
  height: 100vh;
  max-width: 100%;
  background: url(../images/gallery.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-bottom: 2px solid #9b3e36;
}

/* Gallery Items */

.gallery-container {
    text-align: center;
    margin-bottom: 20px;
}

.gallery-items img {
  height: auto;
  width: auto;
  min-width: 100%;
  max-width: 100%;
}

.gallery-items a {
  text-decoration: none;
}

.gallery-items h2 {
    margin-top: 0px;
    margin-bottom: 20px;
    padding-top: 10px;
    color: #fff;
    text-shadow: -1px -1px 0 #333;
    border-left: solid 1px #9b3e36;
    border-right: solid 1px #9b3e36;
    border-bottom: solid 1px #9b3e36;
    background-color: rgba(155, 62, 54, 0.7);
}

.gallery-items h2:hover {
  background-color: #fff;
  color: #9b3e36;
  border: none;
  transform: scale(1.1);
  padding-top: 10px;
  text-shadow: none;
}

/* Contact Page */

.contact-container {
  /* height: 100vh; */
  background: url(../images/pac.jpg) center center / no-repeat cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 70px;
}

.contact-form {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  text-shadow: -1px -1px 0 #000;
  
}

.contact-form h1,
p {
  text-align: center;
  margin-bottom: 25px;
}

.form-h1 {
  font-size: 2rem;
}
.contact-form > p {
  font-size: 1.3rem;
}

.form-group {
  font-size: 1.2rem;
}

.form-control {
  background: #fafafa;
  margin-bottom: 10px;
  color: #000;
  font-size: 1.3rem;
  border: 1px solid #fff;
  border-radius: 3px;
}
.form-control:focus {
  background: #fafafa;
  border: 1px solid #9b3e36;
  color: #000;
  outline: none;
}

.form-control:active,
.form-control:focus,
.form-control:focus:active {
  /* Code below borrowed from https://stackoverflow.com/questions/24222798/how-to-remove-the-blue-box-shadow-border-in-button-if-clicked */
  background-image: none;
  outline: 0;
  box-shadow: none;
}

.form-control:hover {
  background: #fafafa;
  border-color: #9b3e36;
  outline: none;
}

.btn {
  margin-top: 20px;
}
.btn-custom {
  font-size: 1.3rem;
  text-align: center;
  color: #fff;
  background-color: #9b3e36;
}

.btn-custom:hover {
  color: #9b3e36;
  background-color: #fff;
}

/* Media Query */


@media screen and (max-width: 341px) {
.navbar-brand {    
    font-size: 1.4rem;
    }
/* }

@media screen and (max-height: 370px) {

.jumbo-h1 {
    margin-top: 35px;
} */

/* @media (orientation: landscape) {
    .jumbo-h1 {
    padding-top: 80px;
    }
} */
/* 
@media screen and (min-width: 768px) {

.jumbo-h1 {
    font-size: 3rem;
}

.jumbo-p {
    font-size: 1.75rem; 
}
}

 */
