body {
  font-family: "Tenali Ramakrishna", sans-serif;
  margin: 0;
  padding: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}


/* Navbar */

.navbar-container {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 0;
  padding-right: 0;
  z-index: 1;
}

.navbar {
  border: 0;
  width: 100%;
  background-color: rgba(155, 62, 54, 0.125);
}

.navbar .navbar-toggler {
  border: 0;
}

.navbar-brand {
  font-size: 1.7rem;
  text-shadow: -1px -1px 0 #000;
}

.navbar-text {
    color: #ddd !important;
    font-size: 1.2rem;
    text-shadow: 1px 1px 0 #000;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.4rem;
  text-shadow: -1px -1px 0 #000;
  margin-right: 10px;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #9b3e36;
  text-shadow: -1px -1px 0 #333;
}

.active {
  font-size: 1.75rem;
  border-bottom: 1px solid #fff;
}


/* Callout */

.callout-container {
  height: 100vh;
  background: url(../images/hero.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


/* Jumbotron */

.jumbotron {
  background: transparent;
}

.jumbotron-header {
  color: #fafafa;
  text-shadow: -1px -1px 0 #000;
  font-size: 5rem;
  font-weight: 400;
  margin-bottom: 30px;
  padding-top: 20px;
}

.jumbotron p {
  color: #fff;
  margin: 30px 0;
}

.lead {
  color: #fafafa;
  font-size: 2rem;
  text-shadow: -1px -1px 0 #000;
}

.opaque-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}


/* Customer Reviews */

#reviews {
    font-family: "Montserrat" , sans-serif;
    text-align: center;
}

.review-image {
    border-radius: 100%;
    margin: 20px;
    padding: 20% auto;
    width: 20%;
    max-height: 20%;
    min-height: 20%;
}

.carousel-item {
    padding: 7% 15%;
}

.carousel-item h2 {
    font-size: 1.3rem;
    line-height: 1.5;
}

.carousel-item em {
        font-size: 1.3rem;
    }

.carousel-control-prev-icon , 
.carousel-control-next-icon {
    filter: invert(1);
}



/* Content Containers */




/* Block Dividers */

.block-divider {
  width: 50px;
  height: 5px;
  border: 0;
  background-color: #9b3e36;
  margin-bottom: 40px;
}


/* Footer */
.footer {
    background-color:#9b3e36;
    color: #fff;
    width: 100%;
    max-height: 120px;
}


.social {
    text-align: center;
    padding-top: 35px;
}

.social li {
    display: inline;
    margin-right: 40px;
   }

.social i {
    color: #fff;
    background-color: #9b3e36;
    font-size: 2rem;
}

.social i:hover {
    transform: scale(1.2);
}

/* About Page */

.image-container {
  height: 100vh;
  background: url(../images/about.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.about-container p {

}

.about,
.about-2 {
  font-size: 1.3rem;
  font-family: "Montserrat" , sans-serif;
  font-style: italic;
  font-weight: 500;
}

.about-2 {
  margin-top: 30px;
}

.icon {
  /* margin: 30px 0; */
  color: #9b3e36;
  text-align: center;
}


/* Shop Page*/

.gallery-container {
  height: 100vh;
  max-width: 100%;
  background: url(../images/gallery.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}


/* Gallery Items */

.gallery-items-container {}

.gallery-items {
  font-family: "Montserrat" , sans-serif;
  margin-top: 30px;
  padding: 35px;
}

.gallery-items h1 {
    font-size: 2rem;
}

.gallery-items h2 {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.gallery-items h2:hover {
    transform: scale(1.2);
}

.gallery-items img {
  height: auto;
  width: auto;
  min-width: 100%;
  max-width: 100%
}

.gallery-items div {
  text-align: center;
}

.gallery-items a {
  text-decoration: none;
  text-align: center;
}

.gallery-items h2 {
  margin-top: 20px;
  color: #333;
}

.gallery-items h2:hover {
  color: #9b3e36;
}


/* Contact Page */

.contact-container {
  height: 100vh;
  max-width: 100%;
  background: url(../images/pac.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.contact-form {
    background-color: rgba(50 , 50 , 50 , 0.5);
    color: #fff;
    font-family: "Montserrat" , sans-serif;
    margin-top: 50px;
    padding: 20px;
    text-shadow: -1px -1px 0 #000;
    height: auto;
    width: 75vw;
    
}

.contact-form h1 , p {
    text-align: center;
}

.contact-form h1 {
    font-size: 2rem;
}
.contact-form > p {
    font-size: 1.3rem;
}

.form-group {
    font-size: 1.2rem;

}

.form-control {
    background: transparent;
    margin-bottom: 10px;
    color: #fff;
    font-size: 1.3rem;
    border: 1px solid #fff;
    border-radius: 3px;
    
}
.form-control:focus {
    background: transparent;
    border: 1px solid #9b3e36;
    color: #fff;
    outline: none;
}

.form-control:active,
.form-control:focus,
.form-control:focus:active {
    /* Code below borrowed from https://stackoverflow.com/questions/24222798/how-to-remove-the-blue-box-shadow-border-in-button-if-clicked */
  background-image: none;
  outline: 0;
  box-shadow: none;
}

.form-control:hover {
    background: transparent;
    border-color: #9b3e36;
    outline: none;
}

.form-check-label {
    font-size: 1.2rem;
}

.btn {
    margin-top: 20px;
}
.btn-custom {
    font-size: 1.3rem;
    text-align: center;
    color: #fff;
    background-color: #9b3e36
    
}

.btn-custom:hover {
    color: #9b3e36;
    background-color: #fff 
}

/* Media Query */

@media only screen and (max-width: 566px) {
    /* For mobile view */

.about,
.about-2 {
  font-size: 1.2rem;
}

    .contact-form {
        max-height: 75vh;
        max-width: 75vw;
    }

    .carousel-item h2 {
        font-size: 1.1rem;
    }

    .carousel-item em {
        font-size: 1rem;
    }
}